security:
    password_hashers:
        App\Entity\Usuario:
            algorithm: auto
    providers:
        app_user_provider:
            entity:
                class: App\Entity\Usuario
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator
            logout:
                path: security_logout
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 week in seconds
                path: /
    access_control:
        - { path: '^/(%app_locales%)/reset-password', roles: PUBLIC_ACCESS, methods: [ GET, POST ] }
        - { path: '^/(%app_locales%)/login', roles: PUBLIC_ACCESS, methods: [ GET ] }
        - { path: '^/api/*', roles: PUBLIC_ACCESS, methods: [ GET, POST ] }
        - { path: '^/', roles: IS_AUTHENTICATED_REMEMBERED }
        

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
